[submodule "ft_printf_fritinette"]
	path = ft_printf_fritinette
	url = https://github.com/Linuswidmer/ft_printf_fritinette.git
	
[submodule "libft"]
	path = libft
	url = https://github.com/Linuswidmer/libft.git
	
